{
    "alias": "pickle.phar",
    "chmod": "0755",
    "compactors": [
        "Herrera\\Box\\Compactor\\Json",
        "Herrera\\Box\\Compactor\\Php"
    ],
    "directories": ["src", "res"],
    "finder": [
        {
            "name": "*.php",
            "exclude": [
                "CHANGELOG",
                "CONTRIBUTING",
                "README",
                "Tests",
                "atoum",
                "behat",
                "bin",
                "hoa",
                "phpunit",
                "symfony/class-loader",
                "symfony/config",
                "symfony/dependency-injection",
                "symfony/event-dispatcher",
                "symfony/filesystem",
                "symfony/translation",
                "symfony/yaml",
                "tests"
            ],
            "in": "vendor"
        }
    ],
    "git-commit": "git-commit",
    "git-version": "git-version",
    "main": "bin/pickle",
    "output": "pickle.phar",
    "stub": true
}
